<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SerPartido</servlet-name>
        <servlet-class>controlador.SerPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCiudadano</servlet-name>
        <servlet-class>controlador.SerCiudadano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCandidato</servlet-name>
        <servlet-class>controlador.SerCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCentroVotacion</servlet-name>
        <servlet-class>controlador.SerCentroVotacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerMagistrado</servlet-name>
        <servlet-class>controlador.SerMagistrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerDepartamento</servlet-name>
        <servlet-class>controlador.SerDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerUsuariosPrincipales</servlet-name>
        <servlet-class>controlador.SerUsuariosPrincipales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSesionPrincipal</servlet-name>
        <servlet-class>controlador.SerSesionPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCerrarSesion</servlet-name>
        <servlet-class>controlador.SerCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSesionUsuario</servlet-name>
        <servlet-class>controlador.SerSesionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSesionSupervisor</servlet-name>
        <servlet-class>controlador.SerSesionSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSesionAdmin</servlet-name>
        <servlet-class>controlador.SerSesionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAsignacionVotantes</servlet-name>
        <servlet-class>controlador.SerAsignacionVotantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerMunicipio</servlet-name>
        <servlet-class>controlador.SerMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerActivarCuenta</servlet-name>
        <servlet-class>controlador.SerActivarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerVotante</servlet-name>
        <servlet-class>controlador.SerVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSesionVotante</servlet-name>
        <servlet-class>controlador.SerSesionVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerPapeleta</servlet-name>
        <servlet-class>controlador.SerPapeleta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerPartido</servlet-name>
        <url-pattern>/SerPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCiudadano</servlet-name>
        <url-pattern>/SerCiudadano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCandidato</servlet-name>
        <url-pattern>/SerCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCentroVotacion</servlet-name>
        <url-pattern>/SerCentroVotacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerMagistrado</servlet-name>
        <url-pattern>/SerMagistrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerDepartamento</servlet-name>
        <url-pattern>/SerDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerUsuariosPrincipales</servlet-name>
        <url-pattern>/SerUsuariosPrincipales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSesionPrincipal</servlet-name>
        <url-pattern>/SerSesionPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCerrarSesion</servlet-name>
        <url-pattern>/SerCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSesionUsuario</servlet-name>
        <url-pattern>/SerSesionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSesionSupervisor</servlet-name>
        <url-pattern>/SerSesionSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSesionAdmin</servlet-name>
        <url-pattern>/SerSesionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAsignacionVotantes</servlet-name>
        <url-pattern>/SerAsignacionVotantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerMunicipio</servlet-name>
        <url-pattern>/SerMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerActivarCuenta</servlet-name>
        <url-pattern>/SerActivarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerVotante</servlet-name>
        <url-pattern>/SerVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSesionVotante</servlet-name>
        <url-pattern>/SerSesionVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerPapeleta</servlet-name>
        <url-pattern>/SerPapeleta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
